body {
  font-family: Poppins, sans-serif;
  color: #22343d;
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
  font-family: inherit;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 1150px;
}

/* HEADER  */

.header {
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-right: 237px;
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
}
.logo {
}
.header-nav {
  margin-right: auto;
}
.header-nav-list {
  display: flex;
  gap: 30px;
}

/* .header-nav-item:not(:last-child) {
  margin-right: 30px;
} */

.header-nav-link {
  padding: 26px 0;
  display: block;
  line-height: 1.75;
  color: #22343d;
}

.current {
  font-weight: 600;
}
.header-btn-list {
  display: flex;
  gap: 21px;
}
.header-btn-item {
}
.header-btn {
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  min-width: 105px;
  height: 42px;
  background-color: transparent;
  font-weight: 600;
  text-align: center;
  color: #173a56;
}

.header-btn:hover,
.header-btn:focus {
  color: #fff;
  background-color: #02897a;
  border: none;
}

/* HERO  */

.hero {
  padding-top: 25px;
  padding-bottom: 100px;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product {
  font-weight: 700;
  font-size: 32px;
  max-width: 539px;
  text-align: center;

  padding-bottom: 50px;
  margin: 0 auto;
  color: #22343d;
}
.product-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.product-item {
  /* display: flex;
  flex-direction: column; */
  width: calc(100% - 90px) / 4;
}

.product-btn {
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  min-width: 105px;
  height: 42px;
  background-color: #02897a;
  margin: 50 auto 0 auto;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}
