body {
  font-family: Poppins, sans-serif;
  color: #22343d;
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

button {
  display: block;
  cursor: pointer;
  font-family: inherit;
}
button {
  transition: scale 0.5s ease, color 0.5s ease, background-color 0.5s ease;
}

button:hover,
button:focus {
  scale: 1.1;
}
.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 1150px;
}

/* HEADER  */

.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-right: 237px;
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
}

.header-nav {
  margin-right: auto;
}
.header-nav-list {
  display: flex;
  gap: 30px;
}

.header-nav-link {
  padding: 26px 0;
  display: block;
  line-height: 1.75;
  color: #22343d;
}

.current {
  font-weight: 600;
}

.header-btn {
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  min-width: 105px;
  height: 42px;
  background-color: transparent;
  font-weight: 600;
  text-align: center;
  color: #173a56;
}

.header-btn-list {
  display: flex;
  gap: 30px;
}
.header-btn:hover,
.header-btn:focus {
  color: #fff;
  background-color: #02897a;
  border: none;
}

/* HERO  */

.hero {
  padding-top: 25px;
  padding-bottom: 100px;
}

.start {
  border-radius: 4px;
  width: 178px;
  height: 53px;
  background: #02897a;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}
.header-btn-watch {
  display: flex;
  gap: 8px;
  align-items: center;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  color: #02897a;
  width: 100%;
  height: 53px;
  background-color: transparent;
  padding: 0;
  text-align: center;
  text-shadow: none;
  transition: scale 0.5s ease 0.2s, text-decoration 0.5s ease 0.5s;
}

.header-btn-watch:hover,
.header-btn-watch:focus {
  text-decoration: none;
  scale: 1.1;
}
.icon-triangle {
  fill: #02897a;
  stroke: none;
  filter: none;
  transition: scale 0.5s ease 0.1s, stroke-width 0.5s ease 0.5s;
}
.header-btn-watch:hover > svg,
.header-btn-watch:focus > svg {
  fill: #fff;
  stroke: #02897a;
  stroke-width: 2px;
  filter: drop-shadow(0px 0px 0.5px #02897a);
  scale: 1.1;
}
.watch-box {
  margin: auto 0;
}
.hero-main-text {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #22343d;
}
.hero-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: #22343d;
  padding-bottom: 45px;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* product */

.product-container {
  display: flex;
  align-items: center;
}
.product {
  font-weight: 700;
  font-size: 32px;
  max-width: 539px;
  text-align: center;

  padding-bottom: 50px;
  margin: 0 auto;
  color: #22343d;
}
.product-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.product-item {
  width: calc((100% - 90px) / 4);
  max-width: 255px;
}
.product-list-item {
  font-weight: 600;
  font-size: 22px;
  color: #22343d;
  padding-top: 18.11px;
  padding-bottom: 13px;
}
.product-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  padding-bottom: 76px;
}
.product-btn {
  display: block;
  border-color: #fff;
  border-radius: 4px;
  width: 175px;
  height: 53px;
  background: #02897a;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 50px;
}
.product-btn:hover,
.product-btn:focus {
  color: #02897a;
  background-color: #fff;
  border-radius: 4px;
  border-color: #02897a;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-contain {
  display: flex;
  gap: 84px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.services {
  width: 100%;
}
.pretext {
  font-weight: 600;
  font-size: 16px;
  color: #22343d;
}
.episode {
  font-weight: 700;
  font-size: 32px;
  color: #22343d;
  margin-bottom: 25px;
}
.services-text-main {
  width: 486px;
}
.services-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 30px;
  max-width: 486px;
}
.services-text-myspace {
  max-width: 486px;
  margin-bottom: 30px;
}
.services-text-unique {
  margin-bottom: 25px;
  max-width: 486px;
}
.episode-j {
  margin-bottom: 12px;
}
.services-img {
  width: 540px;
}
.support-check {
  display: flex;
  gap: 30px;
  margin-bottom: 25px;
  max-width: 450px;
}

.process {
  font-weight: 700;
  font-size: 32px;
  max-width: 539px;
  text-align: center;

  margin: 0 auto;
  color: #22343d;
}

.process-text {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  max-width: 542px;
  margin: 25px auto 40px;
}

.process-btn {
  display: block;
  border-radius: 4px;
  border-color: #fff;
  width: 216px;
  height: 53px;
  background: #02897a;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.process-btn:hover,
.process-btn:focus {
  color: #02897a;
  background-color: #fff;
  border-radius: 4px;
  border-color: #02897a;
}

.process-container {
  margin-bottom: 100px;
}
.customer-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 408px;
  margin-bottom: 25px;
}
.customer-box img {
  width: 98px;
}
.customer-text-box {
  width: 281px;

  align-items: center;
  fill: #fff;
  border-radius: 30px;
  box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
}
.customer-text {
  margin: 13px auto;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #2f281e;
}
.customer-boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
  margin: 0 auto 25px auto;
}
.strategies-container {
  margin-bottom: 171px;
}
.strategies-main {
  font-weight: 700;
  font-size: 32px;
  max-width: 539px;
  text-align: left;
  transition: color 0.5s ease, background-color 0.5s ease 0.5s;
  margin: 0;
  color: #22343d;
}

.strategies-text {
  text-align: left;
  font-weight: 500;
  font-size: 16px;
  max-width: 542px;
  margin: 10px 0 40px;
}
.news-list {
  display: flex;
}
.news-item {
  width: 350px;
  border: 1px solid #dedede;
  border-radius: 8px;
  transition: scale 0.5s ease;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
}
.news-item img {
  width: 100%;
}
.news-item.middle {
  margin: 0 30px;
}
.news-author {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin-left: 24px;
  margin-top: 24px;
}
.author {
  font-weight: 700;
}
.news-theme {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: #22343d;
  margin-left: 24px;
  margin-bottom: 40px;
}
.news-theme:hover,
.news-theme:focus {
  color: #02897a;
}
.news-item:hover,
.news-item:focus {
  scale: 1.1;
}
.price-main {
  font-weight: 700;
  font-size: 32px;
  max-width: 539px;
  text-align: center;
  transition: color 0.5s ease, background-color 0.5s ease 0.5s;
  margin: 0 auto;
  color: #22343d;
}

.price-text {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  max-width: 542px;
  margin: 25px auto 40px;
}
.price-text-added {
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  margin-top: 8px;
}
.price-table {
  display: flex;
  gap: 72px;
  width: 322px;
  height: 456px;
}

.price-box {
  text-align: center;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  min-width: 322px;
  border-radius: 8px;
  transition: scale 0.5s ease, color 0.5s ease, background-color 0.5s ease;
}
.price-text-main {
  font-weight: 700;
  font-size: 24px;
  color: #22343d;
  background-color: inherit;
  margin-top: 32px;
  transition: color 0.5s ease, background-color 0.5s ease;
}

.price {
  display: flex;
  gap: 10px;
  max-width: 187px;
  height: 100px;
  margin: 16px auto;

  transition: color 0.5s ease, background-color 0.5s ease 0.5s;
}

.money {
  text-align: left;
  font-weight: 700;
  font-size: 76px;
  line-height: 100px;
  color: #02897a;
  transition: color 0.5s ease, background-color 0.5s ease 0.5s;
}

.value-box {
  display: flex;
  align-items: center;
}

.money.value {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #02897a;
  transition: color 0.5s ease, background-color 0.5s ease 0.5s;
  margin-bottom: 4px;
}
.per-month {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #afafaf;
}
.price-text-circs {
  font-weight: 500;
  font-size: 16px;
  margin-top: 16px;
  transition: color 0.5s ease, background-color 0.5s ease 0.5s;
}

.order-btn {
  display: block;
  border-radius: 8px;
  border-color: transparent;
  width: 139px;
  height: 44px;
  background-color: #02897a;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 32px;

  transition: scale 0.8s ease, color 0.5s ease, background-color 0.5s ease;
}
.order-btn:hover,
.order-btn:focus {
  color: #02897a;
  background-color: #fff;
  scale: 1.1;
}

.price-box:hover h3,
.price-box:focus h3 {
  color: #fff;
  background-color: #02897a;
}
.price-box:hover button,
.price-box:focus button {
  color: #02897a;
  background-color: #fff;
}
.price-box:hover .price .money,
.price-box:focus .price .money {
  color: #fff;
}
.price-box:hover,
.price-box:focus {
  color: #fff;
  background-color: #02897a;
  scale: 1.1;
}

/* clients-feedback */

.clients-main {
  line-height: 1.78125;
  font-weight: 700;
  font-size: 32px;
  color: #22343d;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 98px;
}
.clients-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.01em;
  text-align: center;
  color: #22343d;
  width: 537px;
  margin: 0 auto;
}
.clients-list {
  display: flex;
  gap: 64px;

  margin-top: 40px;
}
.clients-list-item {
  width: 327px;
  scale: 1;
  border: 1px solid #dedede;
  border-radius: 5px;
  transition: transform 0.5s ease 0.5s, border 0.45s ease-in-out;
}
.clients-list-item:hover,
.clients-list-item:focus {
  transform: scale(1.2);
  border: 2px solid #02897a;
}
.clients-feedback {
  padding: 28px 26px;
}
.stars-box {
  display: flex;
  gap: 3.7px;
  margin: 0;
}
.star {
  fill: #f3cd03;
}
.not-star {
  fill: transparent;
  stroke: #f3cd03;
}
.feedback-text {
  font-weight: 400;
  font-size: 16px;
  margin: 16px 0;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #737373;
}
.client-name-box {
  width: 145px;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 14px;
  font-weight: 500;
  font-size: 14px;

  line-height: 1.71429;
  letter-spacing: 0.01em;
  color: #252b42;
}
.client-name {
  font-weight: 600;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #02897a;
}
.banner-box {
  margin-top: 100px;
  margin-bottom: 100px;
}
.banner-box-join {
  border-radius: 32px;
  width: 968px;
  height: 345px;
  background: #02897a;
  margin: 0 auto;
  transition: color 0.3s ease-in 0.1s, background-color 0.3s ease-in 0.1s,
    scale 0.3s ease-in-out 0.1s;
  padding-left: 46px;
}

.banner-list {
  display: flex;
  align-items: center;
  gap: 10px;
}

.join-text {
  font-weight: 600;
  font-size: 32px;
  width: 510px;
  line-height: 1.514;
  color: #fff;
  transition: color 0.5s ease-in;
  margin-bottom: 46px;
}

.join-btn {
  border: 1px solid #02897a;
  border-radius: 8px;
  width: 150px;
  height: 50px;
  background-color: #fff;
  font-weight: 600;
  font-size: 20px;

  text-align: center;
  color: #02897a;
  transition: color 0.7s ease-in, background-color 0.7s ease-in,
    scale 0.5s ease-in;
}
.join-btn:hover,
.join-btn:focus {
  color: #fff;
  background-color: #02897a;
  border: none;
}
.banner-box-join:hover,
.banner-box-join:focus {
  color: #02897a;
  background-color: transparent;
  scale: 1.05;
  border: 2px solid #02897a;
}
.banner-box-join:hover .banner-list,
.banner-box-join:focus .banner-list {
  margin-top: auto;
}
.banner-box-join:hover .banner-list .banner-item .join-text,
.banner-box-join:focus .banner-list .banner-item .join-text {
  color: #02897a;
}

/* footer */

.footer-logo {
  display: flex;
  align-items: center;
  gap: 16px;

  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
}

.footer-container {
}
.footer-list {
  display: flex;
}
.footer-item {
}
.social-list {
  display: flex;
  gap: 16px;
  margin-top: 18px;
}

.social-box {
  border-radius: 50%;
  background-color: #edfffc;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: scale 0.5s ease;
}
.social-box:hover,
.social-box:focus {
  scale: 1.1;
  background-color: #02897a;
}

.social-icons {
  fill: transparent;
  stroke: #02897a;
}
.social-box:hover .social-icons,
.social-box:focus .social-icons {
  stroke: #fff;
}
.resource {
  margin-left: 146px;
  margin-right: 129px;
  width: 118px;
}

.legal-stuff {
  margin-right: 83px;
  width: 131px;
}

.footer-text-main-pages {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 8px;
  line-height: 1.5;
  color: #22343d;
}

.footer-text-pages {
  font-weight: 400;
  font-size: 16px;

  line-height: 2.1875;
  color: #22343d;
}

.footer-form {
  width: 325px;
}

.footer-input {
  padding-left: 42px;
  font-weight: 400;
  font-size: 16px;
  height: 44px;
  width: 281px;
  line-height: 1.75;
  margin-top: auto;
  outline: transparent;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input:hover,
.footer-input:focus {
  border-color: #02897a;
  background-color: #fff;
}

.footer-input::placeholder {
  color: #02897a;
}

.telephone {
  position: absolute;
  top: 10px;
  left: 12px;
  fill: #02897a;
}

.input-phone-footer {
  margin-top: 30px;
  margin-bottom: 25px;
  position: relative;
  transition: scale 0.5s ease;
}

.input-phone-footer:hover,
.input-phone-footer:focus {
  scale: 1.05;
}

.footer-text-main-pages {
  max-width: 280px;
}

.footer-btn {
  display: block;
  border-radius: 4px;
  border-color: transparent;
  width: 131px;
  height: 39px;
  background: #02897a;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;

  transition: scale 0.5s ease, color 0.5s ease, background-color 0.5s ease;
}

.footer-btn:hover,
.footer-btn:focus {
  color: #02897a;
  background-color: #fff;
  border-color: #02897a;
  scale: 1.05;
}

.footer-last-text {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  color: #22343d;
}
footer.container {
  margin-bottom: 40px;
}

/* customers page */
.our-clients-section {
  padding-top: 100px;
  padding-bottom: 117px;
  text-align: center;
}
.clients {
  font-weight: 700;
  font-size: 40px;
  color: #22343d;
  margin-bottom: 50px;
}
.our-clients {
  max-width: 850px;
  height: 82px;
  display: flex;
  gap: 64px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.choose-product {
  font-weight: 700;
  font-size: 34px;
  text-align: center;
  color: #22343d;
}
.our-product-chose-section {
  padding-top: 24px;
  padding-bottom: 64px;
  text-align: center;
  background-color: #f5f5f5;
  width: 100%;
}
.our-products-plus {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 50px;
}
.choose {
  border: 1px solid #dedede;
  border-radius: 10px;

  width: 350px;
  height: 305px;
  transition: color 0.5s ease, background-color 0.5s ease, scale 0.5s ease;
}
.choose:hover,
.choose:focus {
  background-color: #fff;
  scale: 1.05;
}
.choose-icon {
  border-radius: 19px;
  width: 50px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  margin: 32px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-plus {
  fill: #fff;
}
li:nth-child(1) .choose .choose-icon {
  background-color: #02897a;
}
li:nth-child(2) .choose .choose-icon {
  background-color: #4d8dff;
}
li:nth-child(3) .choose .choose-icon {
  background-color: #f03e3d;
}
.choose-one {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.375;
  letter-spacing: 0em;
  text-align: center;
  color: #22343d;
  margin-bottom: 16px;
}
.choose-text {
  width: 275px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6875;
  letter-spacing: 0.01em;
  text-align: center;
  color: #22343d;

  margin: 0 auto;
}

.how-product-work {
  padding-top: 101px;
  padding-bottom: 115px;
}
.product-work {
  font-weight: 700;
  font-size: 34px;
  text-align: center;
  color: #22343d;
}
.work-product {
  display: flex;
  flex-direction: column;
  gap: 100px;
  justify-content: center;
  margin-top: 50px;
}
.instruction-mac {
  width: 1027px;
  margin: 0 auto;
  display: flex;
  gap: 89px;
  align-items: center;
  justify-content: baseline;
}

.instruction {
  width: 438px;
  margin: 0 auto;
}
.steps {
  font-weight: 500;
  font-size: 20px;

  color: #22343d;
}
.instruction-title {
  font-weight: 600;
  font-size: 24px;

  color: #22343d;
  margin-top: 16px;
  margin-bottom: 16px;
}
.instruction-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
}
.get-in-btn {
  display: block;
  margin-top: 78px;
  border-radius: 8px;
  border-color: transparent;
  width: 224px;
  height: 44px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: #02897a;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  transition: scale 0.8s ease, color 0.5s ease, background-color 0.5s ease;
}
.get-in-btn:hover,
.get-in-btn:focus {
  color: #02897a;
  background-color: #fff;
  scale: 1.1;
  border: #02897a solid 1px;
}

.join-offers {
  padding-top: 35px;
  padding-bottom: 45px;
  width: 100%;
  background: linear-gradient(180deg, #f5f5f5 0%, rgba(245, 245, 245, 0) 100%);
}
.join-agitation {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #22343d;
  width: 537px;
  margin: 0 auto 93px;
}

.offers-list {
  display: flex;
  gap: 227px;
  justify-content: center;
  margin: 0 auto;
}

.offers-box {
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
  align-items: center;
}

.circle-box {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  transition: border 0.05s ease-in;
}

.red-circle {
  background-color: #ffefef;
}

.red-circle:hover,
.red-circle:focus {
  border: #d43c3c solid 2px;
}

.blue-circle {
  background-color: #f2f6ff;
}
.blue-circle:hover,
.blue-circle:focus {
  border: #3c5fd4 solid 2px;
}
.name-offers {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16667;
  color: #000;
  margin-top: 27px;
  margin-bottom: 16px;
}
.offers-text {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  line-height: 1.78;
}
.best-product {
  font-weight: 500;
  font-size: 16px;
  margin-top: 12px;
  line-height: 1.75;
  color: #000;
}
.banner-box-customers {
  margin-top: 150px;
  margin-bottom: 150px;
}
